Repository elastic/apm-agent-php, pull requests merged in 2021-04, with the labels that each got.

#392 Fixed $_SERVER not set when auto_globals_jit = On
  src/ElasticApm/Impl/AutoInstrument/TransactionForExtensionRequest.php
  src/ext/elastic_apm.c
Labels: agent-php

#393 [RELEASE] 1.0.1
  CHANGELOG.asciidoc
  src/ElasticApm/ElasticApm.php
  src/ext/elastic_apm_version.h
Labels: agent-php, changelog, docs, release

#397 synchronize schema spec
  tests/APM_Server_intake_API_schema/latest_used/transaction.json
Labels: agent-php, automation

#399 synchronize schema spec
  tests/APM_Server_intake_API_schema/latest_used/error.json
  tests/APM_Server_intake_API_schema/latest_used/metadata.json
  tests/APM_Server_intake_API_schema/latest_used/transaction.json
Labels: agent-php, automation

#400 test: synchronizing json spec
  tests/APM_Agents_shared/json-specs/sql_signature_examples.json
  tests/APM_Agents_shared/json-specs/sql_token_examples.json
  tests/APM_Agents_shared/json-specs/wildcard_matcher_tests.json
Labels: agent-php, automation

#401 Update configuration.asciidoc
  docs/configuration.asciidoc
Labels: agent-php, documentation
