Repository elastic/apm-agent-php, pull requests merged in 2021-02, with the labels that each got.

#342 [CI] reduce loop times since 60 takes 4 hours
  .ci/loop.groovy
Labels: automation

#348 [CI] Use the releaseNotification step
  .ci/Jenkinsfile
Labels: agent-php

#352 docs: add boilerplate troubleshooting topic
  docs/index.asciidoc
  docs/troubleshooting.asciidoc
Labels: agent-php, documentation

#353 Add unit test for use case of manually passing distributed tracing data/context
  tests/ElasticApmTests/UnitTests/DistributedTracingTest.php
Labels: agent-php, automation, testing

#350 test: synchronizing gherkin spec
  tests/APM_Agents_shared/gherkin-specs/api_key.feature
  tests/APM_Agents_shared/gherkin-specs/outcome.feature
Labels: agent-php, automation

#354 test: synchronizing gherkin spec
  tests/APM_Agents_shared/gherkin-specs/api_key.feature
  tests/APM_Agents_shared/gherkin-specs/outcome.feature
Labels: agent-php, automation

#355 Small fixes to examples in docs
  docs/public-api.asciidoc
Labels: agent-php, bug, documentation

#357 Simplify API for manual passing of distributed tracing data
  src/ElasticApm/DistributedTracingData.php
  src/ElasticApm/ElasticApm.php
  src/ElasticApm/Impl/AutoInstrument/CurlHandleTracker.php
  src/ElasticApm/Impl/AutoInstrument/TransactionForExtensionRequest.php
  src/ElasticApm/Impl/HttpDistributedTracing.php
  src/ElasticApm/Impl/NoopDistributedTracingData.php
  src/ElasticApm/Impl/NoopExecutionSegment.php
  src/ElasticApm/Impl/NoopTracer.php
  src/ElasticApm/Impl/Tracer.php
  src/ElasticApm/Impl/TracerInterface.php
  src/ext/AST_instrumentation.c
  tests/ElasticApmTests/UnitTests/DistributedTracingTest.php
  tests/ElasticApmTests/UnitTests/HttpDistributedTracingTest.php
Labels: agent-php, breaking
