Repository elastic/apm-agent-php, pull requests merged in 2022-02, with the labels that each got.

#610 docs: remove outdated screenshot
  docs/configuration.asciidoc
  docs/images/elastic_cloud_apm_config.png
Labels: agent-php, Team:Docs

#611 test: synchronizing json spec
  tests/APM_Agents_shared/json-specs/span_types.json
Labels: automation, agent-php

#614 Removed transaction.duration.{count,sum.us} metrics
  src/ElasticApm/Impl/BreakdownMetrics/PerTransaction.php
  src/ElasticApm/Impl/ExecutionSegment.php
  src/ElasticApm/Impl/Transaction.php
  tests/ElasticApmTests/UnitTests/BreakdownMetricsTest.php
Labels: agent-php

#615 Aligned on default service name
  docs/configuration.asciidoc
  src/ElasticApm/Impl/MetadataDiscoverer.php
  tests/ElasticApmTests/UnitTests/MetadataTest.php
Labels: agent-php

#616 Added transaction.name to errors
  src/ElasticApm/Impl/ErrorTransactionData.php
  tests/ElasticApmTests/UnitTests/CapturePublicApiTest.php
  tests/ElasticApmTests/Util/Deserialization/ErrorTransactionDataDeserializer.php
  tests/ElasticApmTests/Util/ValidationUtil.php
Labels: agent-php

#618 Aligned User-Agent header in requests to APM Server as per Elastic APM agents spec
  src/ElasticApm/Impl/BackendComm/EventSender.php
  src/ElasticApm/Impl/MetadataDiscoverer.php
  src/ext/RequestScoped.c
  src/ext/RequestScoped.h
  src/ext/Tracer.h
  src/ext/backend_comm.c
  src/ext/backend_comm.h
  src/ext/config.m4
  src/ext/config.w32
  src/ext/elastic_apm.c
  src/ext/elastic_apm_API.c
  src/ext/elastic_apm_API.h
  src/ext/elastic_apm_alloc.h
  src/ext/lifecycle.c
  tests/ElasticApmTests/ComponentTests/UserAgentTest.php
  tests/ElasticApmTests/ComponentTests/Util/TestEnvBase.php
Labels: agent-php

#622 release: create PR targetting 'main'
  .ci/Jenkinsfile
Labels: automation, agent-php

#623 packaging: enable the installed one
  packaging/test/ubuntu/apache/Dockerfile
Labels: agent-php

#625 Create error event for PHP error only when in error_reporting()
  src/ElasticApm/Impl/Tracer.php
  tests/ElasticApmTests/ComponentTests/ErrorTest.php
  tests/ElasticApmTests/ComponentTests/appCodeForTestPhpErrorUndefinedVariable.php
Labels: agent-php

#626 Prepare for v1.4.2 release
  CHANGELOG.asciidoc
  docs/release-notes.asciidoc
  src/ElasticApm/ElasticApm.php
  src/ext/elastic_apm_version.h
Labels: agent-php
