Repository elastic/apm-agent-php, pull requests merged in 2022-06, with the labels that each got.

#705 ci: use prompt shared library step
  .ci/Jenkinsfile
Labels: agent-php

#708 Prepare for v1.5.2 release
  CHANGELOG.asciidoc
  docs/release-notes.asciidoc
  src/ElasticApm/ElasticApm.php
  src/ext/elastic_apm_version.h
Labels: agent-php

#709 Fixed 'agent destroys error code for curl_exec' issue (ported to main)
  src/ElasticApm/Impl/AutoInstrument/CurlHandleTracker.php
  src/ElasticApm/Impl/AutoInstrument/CurlHandleWrappedTrait.php
Labels: agent-php

#706 synchronize schema spec
  tests/APM_Server_intake_API_schema/latest_used/metricset.json
Labels: automation, agent-php

#711 Prepare for v1.5.2 release (ported to main)
  CHANGELOG.asciidoc
  docs/release-notes.asciidoc
  src/ElasticApm/ElasticApm.php
  src/ext/elastic_apm_version.h
Labels: agent-php

#710 Update static analysis tools (PHP_CodeSniffer to 3.7.1, PHPStan to 1.7.15)
  composer.json
Labels: testing, developer only, agent-php
