Repository elastic/apm-agent-php, pull requests merged in 2022-01, with the labels that each got.

#601 [RELEASE] 1.4
  CHANGELOG.asciidoc
  src/ElasticApm/ElasticApm.php
  src/ext/elastic_apm_version.h
Labels: release, agent-php, docs, changelog

#602 Fixed 1.4 release notes
  CHANGELOG.asciidoc
  docs/release-notes.asciidoc
Labels: agent-php

#591 test: synchronizing gherkin spec
  tests/APM_Agents_shared/gherkin-specs/outcome.feature
  tests/APM_Agents_shared/gherkin-specs/user_agent.feature
Labels: automation, agent-php

#594 test: synchronizing json spec
  tests/APM_Agents_shared/json-specs/span_types.json
Labels: automation, agent-php

#600 synchronize schema spec
  tests/APM_Server_intake_API_schema/latest_used/transaction.json
Labels: automation, agent-php

#606 Neutral naming: main
  .ci/Jenkinsfile
  .ci/loop.groovy
  CONTRIBUTING.md
  README.md
  packaging/before-uninstall.sh
  packaging/post-install.sh
  tests/APM_Agents_shared/README.md
Labels: automation, agent-php

#609 [1.x] docs: Link to APM guide
  docs/configuration.asciidoc
  docs/intro.asciidoc
  docs/public-api.asciidoc
Labels: agent-php, Team:Docs
