Repository elastic/apm-agent-php, pull requests merged in 2023-09, with the labels that each got.

#1051 action: create mandatory GH check for docs
  .github/workflows/test-docs.yml
  .github/workflows/test.yml
Labels: agent-php

#1048 docs: what the CI does
  .github/workflows/README.md
Labels: agent-php

#1049 Added documentation for inferred spans configuration
  docs/configuration.asciidoc
Labels: agent-php

#1055 Modified class and method separator to be always '::' (1054)
  agent/php/ElasticApm/Impl/AutoInstrument/Util/AutoInstrumentationUtil.php
  agent/php/ElasticApm/Impl/Util/StackTraceUtil.php
  tests/ElasticApmTests/UnitTests/InferredSpansBuilderTest.php
  tests/ElasticApmTests/UnitTests/UtilTests/StackTraceUtilTest.php
  tests/ElasticApmTests/Util/StackTraceFrameExpectations.php
Labels: agent-php

#1058 action: use reusable actions
  .github/workflows/build-packages.yml
  .github/workflows/build.yml
  .github/workflows/test-packages.yml
  .github/workflows/test.yml
Labels: agent-php

#1057 Preparation for 1.10.0 release
  CHANGELOG.asciidoc
  agent/native/ext/elastic_apm_version.h
  agent/php/ElasticApm/ElasticApm.php
Labels: agent-php

#1056 release: use GitHub actions
  .buildkite/hooks/pre-command
  .buildkite/release.yml
  .ci/.grenrc.js
  .ci/Jenkinsfile
  .ci/Makefile
  .ci/bump_version.sh
  .ci/jobs/apm-agent-php.yml
  .ci/jobs/defaults.yml
  .github/workflows/README.md
  .github/workflows/generate-matrix.yml
  .github/workflows/opentelemetry.yml
  .github/workflows/release.yml
  .github/workflows/test-packages.yml
  .github/workflows/test-reporter.yml
  .github/workflows/test.yml
Labels: agent-php

#1061 action: listen for tags creation
  .github/workflows/release.yml
Labels: agent-php

#1062 action: support packages for signed/unsigned and fix release checksum validation
  .github/workflows/release.yml
  .github/workflows/test-packages.yml
Labels: agent-php

#1065 Debug option to collect diagnostic information from PHP worker process (#1050)
  agent/native/CMakeLists.txt
  agent/native/ext/ConfigManager.cpp
  agent/native/ext/ConfigManager.h
  agent/native/ext/ConfigSnapshot.h
  agent/native/ext/elastic_apm.cpp
  agent/native/ext/lifecycle.cpp
  agent/native/libcommon/code/AgentGlobals.h
  agent/native/libcommon/code/CMakeLists.txt
  agent/native/libcommon/code/CommonUtils.cpp
  agent/native/libcommon/code/CommonUtils.h
  agent/native/libcommon/code/Diagnostics.cpp
  agent/native/libcommon/code/Diagnostics.h
  agent/native/libcommon/code/PhpBridgeInterface.h
  agent/native/libcommon/code/SharedMemoryState.h
  agent/native/libcommon/test/CommonUtilsTest.cpp
  agent/native/libcommon/test/SharedMemoryStateTest.cpp
  agent/native/libphpbridge/code/Debugging.cpp
  agent/native/libphpbridge/code/PhpBridge.cpp
  agent/native/libphpbridge/code/PhpBridge.h
  docs/troubleshooting.asciidoc
Labels: agent-php

#1067 Improved packaging script to support other architectures and fixed package naming for x86-64 architecture
  packaging/Makefile
  packaging/create-package.sh
Labels: agent-php

#1069 Optimize log line prefix generation based on display criteria (#1068)
  agent/native/ext/log.cpp
Labels: performance, agent-php

#1047 Implemented test suite to run phpt tests delivered with PHP source together with agent to check its compatibility
  .github/workflows/phpt.yml
  agent/extension_phpt_test/README.md
  agent/extension_phpt_test/allowedToFailLists/allowedToFail7.2.txt
  agent/extension_phpt_test/allowedToFailLists/allowedToFail7.3.txt
  agent/extension_phpt_test/allowedToFailLists/allowedToFail7.4.txt
  agent/extension_phpt_test/allowedToFailLists/allowedToFail8.0.txt
  agent/extension_phpt_test/allowedToFailLists/allowedToFail8.1.txt
  agent/extension_phpt_test/allowedToFailLists/allowedToFail8.2.txt
  agent/extension_phpt_test/baselineFailures/baselineFailures7.2.txt
  agent/extension_phpt_test/baselineFailures/baselineFailures7.3.txt
  agent/extension_phpt_test/baselineFailures/baselineFailures7.4.txt
  agent/extension_phpt_test/baselineFailures/baselineFailures8.0.txt
  agent/extension_phpt_test/baselineFailures/baselineFailures8.1.txt
  agent/extension_phpt_test/baselineFailures/baselineFailures8.2.txt
  agent/extension_phpt_test/config/99-elastic.ini
  agent/extension_phpt_test/docker-compose.yml
  agent/extension_phpt_test/images/Dockerfile
  agent/extension_phpt_test/scripts/processResults.php
  agent/extension_phpt_test/scripts/run-tests-7.2.php
  agent/extension_phpt_test/scripts/run-tests-7.3.php
  agent/extension_phpt_test/scripts/run-tests-7.4.php
  agent/extension_phpt_test/scripts/run-tests-8.0.php
  agent/extension_phpt_test/scripts/run-tests-8.1.php
  agent/extension_phpt_test/scripts/run-tests-8.2.php
  agent/extension_phpt_test/scripts/run.sh
  agent/extension_phpt_test/testsToRemove/testsToRemove7.2.txt
  agent/extension_phpt_test/testsToRemove/testsToRemove7.3.txt
  agent/extension_phpt_test/testsToRemove/testsToRemove7.4.txt
  agent/extension_phpt_test/testsToRemove/testsToRemove8.0.txt
  agent/extension_phpt_test/testsToRemove/testsToRemove8.1.txt
  agent/extension_phpt_test/testsToRemove/testsToRemove8.2.txt
Labels: agent-php

#1070 Set of scripts for simplifying coredump diagnostic data collection
  troubleshooting/CoreDumpCatch/README.md
  troubleshooting/CoreDumpCatch/core_dump_catch.sh
  troubleshooting/CrashCollector/README.md
  troubleshooting/CrashCollector/crash_collector.sh
Labels: agent-php

#1074 Fixed exception handling when filename is not set
  agent/native/ext/lifecycle.cpp
Labels: bug, agent-php

#1072 Disabled support for phpdbg (#1071)
  agent/native/ext/elastic_apm.cpp
  agent/native/ext/lifecycle.cpp
  agent/native/libcommon/code/AgentGlobals.h
  agent/native/libcommon/code/PhpBridgeInterface.h
  agent/native/libcommon/code/PhpSapi.h
  agent/native/libcommon/test/PhpSapiTest.cpp
  agent/native/libphpbridge/code/PhpBridge.cpp
  agent/native/libphpbridge/code/PhpBridge.h
  docs/supported-technologies.asciidoc
Labels: agent-php

#1076 Fixed exception handling by improving memory allocation and proper exception object copy (#1075)
  agent/native/ext/elastic_apm.cpp
  agent/native/ext/lifecycle.cpp
  agent/native/ext/lifecycle.h
  agent/native/ext/php_elastic_apm.h
  agent/native/libcommon/test/InferredSpansTest.cpp
Labels: agent-php
