Repository elastic/apm-agent-php, pull requests merged in 2023-06, with the labels that each got.

#981 Documented TransactionInterface->ensureParentId() API
  docs/public-api.asciidoc
Labels: documentation, agent-php, docs

#994 Improved testing of stack trace capture part of WordPress auto instrumentation
  src/ElasticApm/Impl/AutoInstrument/WordPressFilterCallbackWrapper.php
  tests/ElasticApmTests/ComponentTests/WordPress/WordPressMockBridge.php
  tests/ElasticApmTests/ComponentTests/WordPress/WordPressMockWpHook.php
  tests/ElasticApmTests/Util/TestCaseBase.php
Labels: agent-php

#998 Use fixed runner for phpt tests
  .ci/static-check-unit-test.sh
  Dockerfile
  Dockerfile.alpine
  packaging/test/ubuntu/Dockerfile
  src/ext/tests/run-tests.php
Labels: agent-php

#995 Added configuration option STACK_TRACE_LIMIT
  docs/configuration.asciidoc
  src/ElasticApm/Impl/Config/AllOptionsMetadata.php
  src/ElasticApm/Impl/Config/OptionDefaultValues.php
  src/ElasticApm/Impl/Config/OptionNames.php
  src/ElasticApm/Impl/Config/Snapshot.php
  src/ElasticApm/Impl/InferredSpanFrame.php
  src/ElasticApm/Impl/InferredSpansBuilder.php
  src/ElasticApm/Impl/Log/LoggableStackTrace.php
  src/ElasticApm/Impl/Span.php
  src/ElasticApm/Impl/Transaction.php
  src/ElasticApm/Impl/Util/StackTraceUtil.php
  src/ext/ConfigManager.c
  src/ext/ConfigManager.h
  src/ext/ConfigSnapshot.h
  src/ext/elastic_apm.c
  tests/ElasticApmTests/ComponentTests/ConfigSettingTest.php
  tests/ElasticApmTests/ComponentTests/ErrorComponentTest.php
  tests/ElasticApmTests/ComponentTests/InferredSpansComponentTest.php
  tests/ElasticApmTests/ComponentTests/StackTraceLimitComponentTest.php
  tests/ElasticApmTests/ComponentTests/Util/ComponentTestCaseBase.php
  tests/ElasticApmTests/ComponentTests/Util/TestCaseHandle.php
  tests/ElasticApmTests/TestsSharedCode/StackTraceLimitTestSharedCode.php
  tests/ElasticApmTests/UnitTests/InferredSpansBuilderTest.php
  tests/ElasticApmTests/UnitTests/StackTraceLimitUnitTest.php
  tests/ElasticApmTests/UnitTests/UtilTests/StackTraceUtilTest.php
  tests/ElasticApmTests/Util/DataFromAgent.php
  tests/ElasticApmTests/Util/DataProviderForTestBuilder.php
  tests/ElasticApmTests/Util/StackTraceFrameExpectations.php
  tests/ElasticApmTests/Util/TestCaseBase.php
Labels: agent-php

#1000 Disable agent when opcache is in reset pending state (#988)
  src/ext/lifecycle.c
  src/ext/tracer_PHP_part.c
  src/ext/tracer_PHP_part.h
  src/ext/util_for_PHP.c
  src/ext/util_for_PHP.h
Labels: agent-php

#996 Added SPAN_STACK_TRACE_MIN_DURATION configuration option
  docs/configuration.asciidoc
  src/ElasticApm/Impl/Config/AllOptionsMetadata.php
  src/ElasticApm/Impl/Config/OptionDefaultValues.php
  src/ElasticApm/Impl/Config/OptionNames.php
  src/ElasticApm/Impl/Config/Snapshot.php
  src/ElasticApm/Impl/InferredSpansBuilder.php
  src/ElasticApm/Impl/Span.php
  src/ElasticApm/Impl/Transaction.php
  src/ext/ConfigManager.c
  src/ext/ConfigManager.h
  src/ext/ConfigSnapshot.h
  src/ext/elastic_apm.c
  tests/ElasticApmTests/ComponentTests/ConfigSettingTest.php
  tests/ElasticApmTests/ComponentTests/MySQLiAutoInstrumentationTest.php
  tests/ElasticApmTests/ComponentTests/PDOAutoInstrumentationTest.php
  tests/ElasticApmTests/ComponentTests/SpanStackTraceComponentTest.php
  tests/ElasticApmTests/ComponentTests/StackTraceLimitComponentTest.php
  tests/ElasticApmTests/ComponentTests/Util/ComponentTestCaseBase.php
  tests/ElasticApmTests/ComponentTests/WordPressAutoInstrumentationTest.php
  tests/ElasticApmTests/UnitTests/InferredSpansBuilderTest.php
  tests/ElasticApmTests/UnitTests/SpanStackTraceMinDurationUnitTest.php
  tests/ElasticApmTests/UnitTests/SpanStackTraceUnitTest.php
  tests/ElasticApmTests/UnitTests/StackTraceLimitUnitTest.php
Labels: agent-php

#989 [Automation] Update Gherkin specs
  tests/APM_Agents_shared/gherkin-specs/otel_bridge.feature
Labels: automation, agent-php

#1003 Fixed use case when label/custom key is a numeric value string
  src/ElasticApm/Impl/ExecutionSegmentContext.php
  src/ElasticApm/Impl/TransactionContext.php
  tests/ElasticApmTests/ComponentTests/WordPressAutoInstrumentationTest.php
  tests/ElasticApmTests/TestsSharedCode/StackTraceLimitTestSharedCode.php
  tests/ElasticApmTests/UnitTests/PublicApiTest.php
  tests/ElasticApmTests/Util/Deserialization/SerializedEventSinkTrait.php
  tests/ElasticApmTests/Util/ExecutionSegmentContextDto.php
  tests/ElasticApmTests/Util/ExecutionSegmentContextExpectations.php
  tests/ElasticApmTests/Util/MetricSetValidator.php
  tests/ElasticApmTests/Util/TestCaseBase.php
  tests/ElasticApmTests/Util/TransactionContextDto.php
  tests/ElasticApmTests/Util/TransactionContextExpectations.php
Labels: agent-php
