Repository elastic/apm-agent-php, pull requests merged in 2025-03, with the labels that each got.

#1281 [docs] Add the new docs CI checks
  .github/workflows/comment-on-asciidoc-changes.yml
  .github/workflows/docs-build.yml
  .github/workflows/docs-cleanup.yml
Labels: agent-php, Team:Docs

#1282 [docs] Migrate docs from AsciiDoc to Markdown
  CHANGELOG.asciidoc
  docs/configuration.asciidoc
  docs/docset.yml
  docs/index.asciidoc
  docs/intro.asciidoc
  docs/public-api.asciidoc
  docs/reference/configuration-reference.md
  docs/reference/configuration.md
  docs/reference/index.md
  docs/reference/public-api.md
  docs/reference/set-up-apm-php-agent.md
  docs/reference/supported-technologies.md
  docs/reference/toc.yml
  docs/release-notes.asciidoc
  docs/release-notes/index.md
  docs/release-notes/known-issues.md
  docs/release-notes/toc.yml
  docs/setup.asciidoc
  docs/supported-technologies.asciidoc
  docs/troubleshooting.asciidoc
Labels: agent-php, Team:Docs

#1294 Updates navigation titles for release notes
  docs/release-notes/known-issues.md
Labels: Team:Docs

#1295 [docs] Miscellaneous docs clean up
  docs/docset.yml
Labels: documentation, agent-php, docs, Team:Docs
